
.search,
.search-result{
    width: 361px;
}

.search{

    position: relative;
    display: flex;
    height: var(--search-height);
    background-color: rgba(22 ,24, 35, 0.06 );
    border-radius: var(--serach-border-radius);
    padding-left: 16px;
    border: 1px solid transparent;
    input{
        flex: 1;
        font-size:  1.6rem;
        color: #828282;
        background-color: transparent;
        height: 100%;
        color: var(--black);
        caret-color: var(--primary);
        padding-right: 45px;
    }
    input:not(:placeholder-shown) ~ .search-btn{
        background-color: rgba(22 ,24, 35, 0.03 );
        color: #555;
    }
    &::after{
        content: '';
        position: absolute;
        top:50%;
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - 18px);
        transform: translateY(-50%);
        background-color: rgba(22 ,24, 35, 0.12 );
    }
    &:focus-within{
        border: 1px solid rgba(22 ,24, 35, 0.2 );
    }
}
.search-title{
    padding: 5px 12px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;


}
.clear, 
.loading{
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 1.6rem;
right: calc(var(--search-button-width) + 18px);    
background-color: rgba(22 ,24, 35, 0.03 );
color: #828282;
}
.loading{
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from{
        transform: translateY(-50%) rotate(0);
    }to{
        transform:translateY(-50%) rotate(360deg);
    }
}

.search-btn{
width: var(--search-button-width);
height: 100%;
border-top-right-radius: var(--serach-border-radius);
border-bottom-right-radius: var(--serach-border-radius);
font-size: 1.8rem;
color: rgba(22 ,24, 35, 0.34);
    &:hover{
        background-color: rgba(22 ,24, 35, 0.03 );
        cursor: pointer;
    }
    &:active{
        background-color: rgba(22 ,24, 35, 0.06 );

    }

}
